a.left.carousel-control,
a.right.carousel-control{
	z-index: 4;
}

.carousel-inner .carousel-caption {
	bottom: 50%;
}

@media screen and (max-width: 767px) {
	.carousel-inner .carousel-caption {
		bottom: 30%;
	}
}