<section id="feed">
    <h1>Fotos</h1>
    <div class="row">
        <span *ngFor="let item of mediaRecent | slice:0:18; let i = index">
            <div class="col-xs-12 col-sm-4">
                <a href="{{ item.link }}" class="thumbnail">
                    <img src="{{ item.images.standard_resolution.url }}" style="width: 100%">
                </a>
                <pre>{{ item.caption.text }}</pre>
            </div>
            <div *ngIf="(i + 1) % 3 == 0" class="col-xs-12">
                <br>
            </div>
        </span>
    </div>
</section>