<section id="about">
  <h1>Sobre</h1>

  <br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <p>
        O projeto Pequeno Albert é uma iniciativa cultural com origem em <strong>Juazeiro – BA</strong> em 2017. Carrega
        a proposta de dialogar com diversos elementos estéticos da música popular brasileira, rock 'n' roll e da cultura
        pop.
      </p>
    </div>
  </div>

  <br>
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail">
        <div id="member-1" class="img-circle img-thumb member-thumbnail"></div>
        <div class="caption text-center">
          <h3>Lucas Aquino</h3>
          <p>Baixos</p>
          <p>Acadêmico de direito, guitarrista da Cabrón e unas cositas más</p>
          <p>
            <a href="http://fb.com/lucas.aquino.7140" target="_blank" class="btn btn-sm btn-default" role="button"><i class="fa fa-fw fa-2x fa-facebook-official" aria-hidden="true"></i></a>
            <a href="http://instagram.com/aquinno_lucas" target="_blank" class="btn btn-sm btn-default" role="button"><i class="fa fa-fw fa-2x fa-instagram" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail">
        <div id="member-2" class="img-circle img-thumb member-thumbnail"></div>
        <div class="caption text-center">
          <h3>Felipe Wander</h3>
          <p>Guitarras e Vocais</p>
          <p>
            <a href="http://fb.com/felipe.wanderley.50" target="_blank" class="btn btn-sm btn-default" role="button"><i class="fa fa-fw fa-2x fa-facebook-official" aria-hidden="true"></i></a>
            <a href="http://instagram.com/felipe__wander" target="_blank" class="btn btn-sm btn-default" role="button"><i class="fa fa-fw fa-2x fa-instagram" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="thumbnail">
        <div id="member-3" class="img-circle img-thumb member-thumbnail"></div>
        <div class="caption text-center">
          <h3>Fellipe Melo</h3>
          <p>Baterias e percussões</p>
          <p>Pai de Gregório Marido de @tereza_alves Sempre em (des/re)construção</p>
          <p>
            <a href="http://fb.com/fellipe.melo.10" target="_blank" class="btn btn-sm btn-default" role="button"><i class="fa fa-fw fa-2x fa-facebook-official" aria-hidden="true"></i></a>
            <a href="http://instagram.com/fellipemneto" target="_blank" class="btn btn-sm btn-default" role="button"><i class="fa fa-fw fa-2x fa-instagram" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <p>
        Idealizado a partir do experimento <strong>Pequeno Albert</strong> que estudou temas relacionados ao condicionamento
        das emoções. O experimento lança pistas sobre qual ótica interpretativa o eu lírico enxerga as questões tratadas
        nas letras, utilizando em sua palavra cantada elementos constituintes da cultura popular, abordando temas do comportamento
        humano que faz interlocuções sobre questões existenciais e crônicas das relações cotidianas, caminhando entre sonoridades
        limpas e ruídos.
      </p>
    </div>
  </div>

</section>
