/*nav.navbar {
    height: 5vh;
}*/

.navbar-inverse .navbar-nav > li > a {
	text-transform: uppercase;
}

.navbar-nav {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	float: none;
}

nav .navbar-header > button {
    margin-left: 15px;
}