<section id="music">
  <h1>Música</h1>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <iframe width="100%" height="160" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/335549721&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
        <div class="col-xs-12 col-sm-4">
          <iframe width="100%" height="160" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/335549597&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true"></iframe>
        </div>
        <div class="col-xs-12 col-sm-4">
          <iframe width="100%" height="160" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/335549492&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
      </div>
    </div>
  </div>

  <h1>Músicas na Qualidade Máxima!</h1>

  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-6 text-right">
      <a href="/assets/img/movimento-front-h.jpg">
        <img src="/assets/img/movimento-front.jpg" class="album-cover">
      </a>
    </div>
    <div class="col-xs-6 col-sm-6 text-left">
      <a href="/assets/img/movimento-back-h.jpg">
        <img src="/assets/img/movimento-back.jpg" class="album-cover">
      </a>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-12 text-center">
      <p>
        Lançado em 02/08/2017 o single <strong>Movimento</strong> conta com três músicas que fazem parte do disco completo
        que foi produzido pelo próprio grupo, gravado e mixado por Iago Guimarães (Casinha Lab) e masterizado por André T
        (estúdio T). A concepção gráfica foi desenvolvida pelo artista plástico Felipe Rhein Felippe e fotografia de Darium
        Peixe.
      </p>
      <p class="lead">Estar em movimento é necessário!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <a class="btn btn-lg btn-warning" href="http://pequenoalbert.com/music/movimento.zip">
          <i class="fa fa-lg fa-cloud-download" aria-hidden="true"></i> Single Completo
        </a>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="list-group">
        <a href="http://pequenoalbert.com/music/movimento/distante-perecivel.wav" class="list-group-item">
          <i class="fa fa-lg fa-cloud-download" aria-hidden="true"></i> 1. Distante Perecível
        </a>
        <a href="http://pequenoalbert.com/music/movimento/o-que-voce-precisa-saber.wav" class="list-group-item">
          <i class="fa fa-lg fa-cloud-download" aria-hidden="true"></i> 2. O que você Precisa
        </a>
        <a href="http://pequenoalbert.com/music/movimento/bethania.wav" class="list-group-item">
          <i class="fa fa-lg fa-cloud-download" aria-hidden="true"></i> 3. Bethania
        </a>
      </div>
    </div>
  </div>
</section>